
.App{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 30px;
  height: 50px;
  position: absolute;
  left: 50px;
}

@media screen and (max-width: 500px) {
   .logo{
     display: none;
   }
}